{% extends "base.html" %}
{% load static %}

{% block title %}
    All my post
{% endblock  %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
    <link rel="stylesheet" href="{% static "blog/all-posts.css" %}">
{% endblock %}

{% block content %}
    <section id="all-posts">
        <h2>My collection posts</h2>
        <ul>
            {% for i in recent_post  %}
                {% include "blog/includes/post.html" with post=i %}
            {% endfor %}
        </ul>
    </section>

{% endblock  %}